# Ignore all
/*
/*/

# Except
README.md
!/.config/
!/.local/

# But also
/.config/*
/.config/*/
/.local/*
/.local/*/

# Except
!/.config/zsh
!/.config/nvim
!/.config/alacritty
!/.config/kitty
!/.config/tmux
!/.local/bin
!/.local/share

# But also
/.config/zsh/.zcompdump
/.config/nvim/lazy-lock.json
/.config/tmux/plugins/*
/.config/tmux/plugins/*/
/.local/share/*
/.local/share/*/

# Except
!/.local/share/fonts/

*.uuid

